.carousel-wrap * {
  box-sizing:border-box
}

.carousel-wrap {
  overflow: hidden;
  width:80%
}

.carousel {
  margin: auto;
}

.carouselIMG {
    width: auto;
    height: 150px;
    margin: auto;
    transition: transform .5s, opacity .5s;
}

.last,
.next {
  border:solid black;
  background-color: white;
  padding: 25px;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  font-size: 10px;
}

.last {
  float: left;
  left:;
}

.next {
  float: right;
}