html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Logo */

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    width:40vw;
}

/* White Header BG */
.main-nav {
    color:black;
    font-size: 30px ;
    box-shadow: 0 0 25px 0 black;
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    text-align: center;
    z-index: 1;
}

/* Getting rid of link underline */
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

  .nav-list {
    padding-top: 10px;
  }

body {
    background-image: url(img/HexBG.jpg);
    padding-top: 45%;
}
main {
    padding: 80px;
}

.h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 33px;
    padding-bottom: 10px;
    font-weight: bold;
}

.p1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 33px;
    padding-top: 45px;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.carousel {
    align-items: center;
}


footer {
    background-color:white;
    height:50px;
    box-shadow: 0 0 25px 0 black;
    padding: 0;
    width:100%;
    bottom: 0;
    left: 0;
    right: 0;
}

